@charset "utf-8";
/* CSS Document */

/*文本样式*/
span,a,p,h1,h2,h3,h4,h5,h6,li,dt,dd{font-family: '微软雅黑'; color: #1f1f1f;}
a{text-decoration:none;}
li{list-style-type: none;}

body{background-color: #f2f2f2}/*内容板块背景色*/


.main-a{width: 940px; float: right;border-radius: 4px 4px 4px 4px; margin-top: 6px;}
