@charset "utf-8";
/* CSS Document */


.bottom{margin-top: 2998px}/*离内容顶部导航顶部的距离*/
.bottom1{margin: 0 auto; text-align: center; height: 150px; background-color:#31C37C}
.bottom2{margin: 0 auto; text-align: center; height: 30px; background-color:#279c63}