@charset "utf-8";
/* CSS Document */



/*盒居中*/
*{margin: 0; padding: 0;}
.top{margin: 0 auto}
.nav{margin: 0 auto}
.main1{margin: 0 auto}
.main2{margin: 0 auto}
.bottom{margin: 0 auto}



/*初始文本*/
span,a,p,h1,h2,h3,h4,h5,h6,li,dt,dd{font-family: '微软雅黑'; color: #1f1f1f;}
a{text-decoration:none;}
li{list-style-type: none;}




/*自闭症知识/医师咨询/星友论坛/慈善捐助/找康复机构*/
.main1{height: 750px;}
.main-boxA{width: 1200px; margin: 0 auto;margin-top: 60px}
.main-boxA a{float: left;}
.main-boxA-a-px{margin-left: 50px}

.main1-box1{display: block; width: 198px;height: 248px;border-radius: 15px 15px 15px 15px; border: solid 1px #31c37c; transition-duration: 0.2s;}/*让a标签变成块级元素，再往里面放东西*/
.main1-box1-img{background-image: url(自闭症知识_绿.png); margin:22px 44px 23px 44px; width: 110px;height: 114px; transition-duration: 0.5s; }
.main1-box1-span1{font-size: 16px; color: #31c37c;border-bottom: solid 1px #b1e8cd;display: block;text-align: center;width: 178px; margin-left: 10px;padding-bottom: 13px;}
.main1-box1-span2{font-size: 12px; color: #31c37c;display: block;text-align: center;width: 148px; margin: 10px 0px 0px 25px}/*span变成块级元素，才能用文本居中*/

.main1-box2{display: block; width: 198px;height: 248px;border-radius: 15px 15px 15px 15px; border: solid 1px #31c37c;margin-left: 50px; transition-duration: 0.2s;}
.main1-box2-img{background-image:url(医师咨询_绿.png); margin:22px 44px 23px 44px; width: 110px;height: 114px ; transition-duration: 0.5s;}
.main1-box2-span1{font-size: 16px; color: #31c37c;border-bottom: solid 1px #b1e8cd;display: block;text-align: center;width: 178px; margin-left: 10px;padding-bottom: 13px;}
.main1-box2-span2{font-size: 12px; color: #31c37c;display: block;text-align: center;width: 148px; margin: 10px 0px 0px 25px}

.main1-box3{display: block; width: 198px;height: 248px;border-radius: 15px 15px 15px 15px; border: solid 1px #31c37c;margin-left: 50px; transition-duration: 0.2s;}
.main1-box3-img{background-image:url(星友论坛_绿.png); margin:22px 44px 23px 44px; width: 110px;height: 114px ; transition-duration: 0.5s;}
.main1-box3-span1{font-size: 16px; color: #31c37c;border-bottom: solid 1px #b1e8cd;display: block;text-align: center;width: 178px; margin-left: 10px;padding-bottom: 13px;}
.main1-box3-span2{font-size: 12px; color: #31c37c;display: block;text-align: center;width: 148px; margin: 10px 0px 0px 25px}

.main1-box4{display: block; width: 198px;height: 248px;border-radius: 15px 15px 15px 15px; border: solid 1px #31c37c;margin-left: 50px; transition-duration: 0.2s;}
.main1-box4-img{background-image:url(慈善捐助_绿.png); margin:22px 44px 23px 44px; width: 110px;height: 114px ; transition-duration: 0.5s;}
.main1-box4-span1{font-size: 16px; color: #31c37c;border-bottom: solid 1px #b1e8cd;display: block;text-align: center;width: 178px; margin-left: 10px;padding-bottom: 13px;}
.main1-box4-span2{font-size: 12px; color: #31c37c;display: block;text-align: center;width: 148px; margin: 10px 0px 0px 25px}

.main1-box5{display: block; width: 198px;height: 248px;border-radius: 15px 15px 15px 15px; border: solid 1px #31c37c;margin-left: 50px; transition-duration: 0.2s;}
.main1-box5-img{background-image:url(找康复机构_绿.png); margin:22px 44px 23px 44px; width: 110px;height: 114px ; transition-duration: 0.5s;}
.main1-box5-span1{font-size: 16px; color: #31c37c;border-bottom: solid 1px #b1e8cd;display: block;text-align: center;width: 178px; margin-left: 10px;padding-bottom: 13px;}
.main1-box5-span2{font-size: 12px; color: #31c37c;display: block;text-align: center;width: 148px; margin: 10px 0px 0px 25px}



/*自闭症知识/医师咨询/星友论坛/慈善捐助/找康复机构-交互*/
.main1-box1:hover{background-color: #31c37c;box-shadow: 0px 10px 50px #51db98;}
.main1-box1:hover span{color:#ffffff;}
.main1-box1:hover .main1-box1-img{background-image: url(自闭症知识_白.png)}

.main1-box2:hover{background-color: #31c37c;box-shadow: 0px 10px 50px #51db98;}
.main1-box2:hover span{color:#ffffff;}
.main1-box2:hover .main1-box2-img{background-image:url(医师咨询_白.png)}

.main1-box3:hover{background-color: #31c37c;box-shadow: 0px 10px 50px #51db98;}
.main1-box3:hover span{color:#ffffff;}
.main1-box3:hover .main1-box3-img{background-image:url(星语论坛_白.png)}

.main1-box4:hover{background-color: #31c37c;box-shadow: 0px 10px 50px #51db98;}
.main1-box4:hover span{color:#ffffff;}
.main1-box4:hover .main1-box4-img{background-image:url(慈善捐助_白.png)}

.main1-box5:hover{background-color: #31c37c;box-shadow: 0px 10px 50px #51db98;}
.main1-box5:hover span{color:#ffffff;}
.main1-box5:hover .main1-box5-img{background-image:url(找康复机构_白.png)}



/*最新推荐&星友推荐 导航*/
.main2{width: 1200px; height: 40px; }
.main2-a{border-bottom: solid 3px; font-size: 16px; height: 37px; display: block; float: left; text-align: center; margin: 0px 20px 0px 528px;color: #31C37C}
.main2-b{font-size: 16px; height: 37px; display: block; float: left; text-align: center; color: #6F6F6F;}



/*最新推荐&星友推荐 导航-交互*/
.main2-b:hover{color: #31C37C; border-bottom: solid 3px; transition-duration: 0.1s; }
.main2-b:hover .main2-a{color: #6F6F6F; transition-duration: 0.5s; }



/*最新推荐&星友推荐 内容*/
.main3{height: 2px; background-color: #ededed;}
.main4{height: 805px; background-color: #f2f2f2;}
.main4-w1000{width: 1200px; margin: 0 auto;}
.main4-box{width: 380px;display: block; float: left; margin: 15px 0px 15px 0px;height: 330px;border-radius: 10px 10px 10px 10px;overflow:hidden}
.main4-boxa{width: 380px; height: 250px;background-color:lightsteelblue; border-radius: 10px 10px 0px 0px;overflow:hidden}
.main4-boxb{width: 380px; height: 80px; border-radius: 0px 0px 10px 10px;background-color: #FFFFFF;overflow:hidden}
.main4-boxb-1{width:100%;height: 50%;}
.main4-boxb-1 span{display: block; width: 310px; padding:16px 0px 0px 20px;float: left;}
.main4-boxb-1 img{float: right; margin: 18px 20px 0px 0px;}
.main4-boxb-2{height: 20px; padding: 8px 0px 0px 20px;}
.main4-boxb-2 span{font-size: 12px; color: #969696; display: block;float: left;line-height: 20px;margin: 0px 20px 0px 4px}
.main4-boxb-2 img{float: left;}
#main4-boxb-2-span2{float: right;font-size: 12px;}
.px1{margin-left: 30px}



/*最新推荐&星友推荐 交互*/
.main4-box:hover{box-shadow: 0px 4px 16px rgba(0,0,0,0.06);transition-duration: 0.2S}
.main4-box:hover .main4-boxa{opacity: 0.9 ;transition-duration: 0.2S}



/*底部*/
.bottomA{height: 150px; background-color: #31c37c;position:relative}
.bottomA-1{height: 30px; width: 1200px; position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.bottomA-1-1-1{background-image: url(手机_70%白.png); width: 20px; height: 30px; float: left; transition-duration: 0.2s;}
.bottomA-1-span1{float: left; font-size: 16px; color:#FFFFFF; line-height: 30px; padding-left: 10px;color: #c2edd8;transition-duration: 0.2s;}
.bottomA-1-span2{float: left; font-size: 16px; color:#FFFFFF; line-height: 30px; padding-left: 60px;color: #c2edd8;transition-duration: 0.2s;}
.bottomA-1-img1{display: block; width: 30px;height: 30px; background-image:url(qq_70%白.png); float: right; margin-right: 60px;transition-duration: 0.2s;}
.bottomA-1-img2{display: block; width: 30px;height: 30px; background-image: url(微信_70%白.png); float: right; transition-duration: 0.2s;}


.bottomB{height: 30px; background-color: #279c63}
.bottomB-1{height: 30px; width: 1200px; margin: 0 auto;}
.bottomB-1-span1 a{font-size: 12px;line-height: 30px;color: #12482d; float: left;}
.bottomB-1-span2 a{font-size: 12px;line-height: 30px;color: #12482d;}
.bottomB-1-span2{font-size: 12px;line-height: 30px;color: #12482d; float: left; margin-left: 250px}
.bottomB-1-span3{font-size: 12px;line-height: 30px;color: #12482d; float: right}

.bottomA-1-img1{position:relative}
.qq{width: 122px;height: 150px;background-image: url(牵星官方交流群.png);position: absolute;right: -46px;bottom:36px;transition-duration: 1s;}
.bottomA-1-img2{position:relative}
.weixing{width: 122px;height: 150px; background-image: url(牵星官方公众号.png);position: absolute;right: -46px;bottom:36px; transition-duration: 0.2s;}
.qq{display: none}
.weixing{display: none}


/*底部-交互*/
.bottomB-1-span1 a:hover{text-decoration:underline;}
.bottomB-1-span2 a:hover{text-decoration:underline;}
.bottomA-1-a:hover .bottomA-1-1-1{background-image: url(手机_白.png);transition-duration: 0.2s;}
.bottomA-1-a:hover .bottomA-1-span1{color: #FFFFFF;transition-duration: 0.2s;}
.bottomA-1-b:hover .bottomA-1-span2{color: #FFFFFF;transition-duration: 0.2s;}
.bottomA-1-img1:hover{background-image:url(qq_白.png);transition-duration: 0.2s;}
.bottomA-1-img2:hover{background-image:url(微信_白.png);transition-duration: 0.2s;}
.bottomA-1-img1:hover .qq{display:block;}
.bottomA-1-img2:hover .weixing{display:block;}
